

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html, body, #root {
  margin: 0;
  font-family: "Raleway";
  height: 100% !important;
  text-align: center;
}

.App {
  height: 50%;
}

.App-header {
  background-color: #0074D9;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  color: white;
  font-family: "Raleway";
  padding: 0;
  outline: none;
  border: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.28);
}

input {
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    background: rgba(255,255,255,0.6);
    margin: 0 0 10px 0;
}

.Amatic_SC {
  font-family: "Amatic SC", cursive;
}

.Bungee_Shade {
  font-family: "Bungee Shade", cursive;
}
.Charmonman {
  font-family: "Charmonman", cursive;
}
.Raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.Lato {
  font-family: "Lato", sans-serif;
}

.Lobster {
  font-family: "Lobster", cursive;
}

.Gamja_Flower {
  font-family: "Gamja Flower", cursive;
}

.Faster_One {
  font-family: "Faster One", cursive;
}

.Gloria_Hallelujah {
  font-family: "Gloria Hallelujah", cursive;
}

.Indie_Flower {
  font-family: "Indie Flower", cursive;
}

.Oswald {
  font-family: "Oswald", sans-serif;
}

.Permanent_Marker {
  font-family: "Permanent Marker", cursive;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.Special_Elite {
  font-family: "Special Elite", cursive;
}

.Unlock {
  font-family: "Unlock", sans-serif;
}
