.App {
  text-align: center;
}

.App-header {
  background-color: #0074D9;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: white;
  font-family: "Raleway"
}


.Raleway {
  font-family: "Raleway", sans-serif !important;
  font-weight: 400;
}
