
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

html, body, #root, .App {
  margin: 0;
  font-family: "Raleway";
  height: 100% !important;
  text-align: center;
}

.App-header {
  background-color: #0074D9;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  color: white;
  font-family: "Raleway";
  padding: 0;
  outline: none;
  border: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.28);
}

input {
    border: 3px solid white;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    background: rgba(255,255,255,0.6);
    margin: 0 0 10px 0;
}

.Bungee {
  font-family: "Bungee Shade", cursive;
}
.Charmonman {
  font-family: "Charmonman", cursive;
}
.Raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.Lato {
  font-family: "Lato", sans-serif;
}

.Lobster {
  font-family: "Lobster", cursive;
}

.GamjaFlower {
  font-family: "Gamja Flower", cursive;
}

.Faster {
  font-family: "Faster One", cursive;
}

.GloriaHallelujah {
  font-family: "Gloria Hallelujah", cursive;
}

.IndieFlower {
  font-family: "Indie Flower", cursive;
}

.Merriweather {
  font-family: "Merriweather", sans-serif;
}

.Montserrat {
  font-family: "Montserrat", sans-serif;
}

.NotoSerif {
  font-family: "Noto Serif TC", serif;
}

.OpenSans {
  font-family: "Open Sans", sans-serif;
}
.Oswald {
  font-family: "Oswald", sans-serif;
}

.PermanentMarker {
  font-family: "Permanent Marker", cursive;
}

.PlayfairDisplay {
  font-family: "Playfair Display", serif;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.SourceSansPro {
  font-family: "Source Sans Pro", sans-serif;
}

.Unlock {
  font-family: "Unlock", sans-serif;
}
